<ion-view  view-title="Porte feuille">
  <ion-content ng-class="{expanded:$scope.isExpanded}">

    <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
      <div class="content">
        <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
        <h3><a class="light">Solde: 20 000 Fcfa</a></h3>
        <h4>lioneldemanou@yahoo.fr</h4>
      </div>
    </div>
    <div  class="tabs-striped tabs-positive tabs-top tabs-icon-top tabs-scr" style="position: static; margin-bottom: 15px;" >
      <div class="tabs" style="position: static;">
        <a class="tab-item active" data-ink-color="#ef473a" data-ink-opacity=".35">
          <i class="icon ion-log-in"></i>  recharge
          <ion-nav-view name="about-page1">
            qedqs
          </ion-nav-view>
        </a>
        <a class="tab-item " data-ink-color="#ef473a" data-ink-opacity=".35">
          <i class="icon ion-android-send"></i>  Transfert
          <ion-nav-view name="about-page1">
            2222
          </ion-nav-view>
        </a>
        <a class="tab-item" data-ink-color="#ef473a" data-ink-opacity=".35">
          <i class="icon ion-android-list"></i>  Histo

          <ion-nav-view name="about-page1">
            2222bbbbbbb
          </ion-nav-view>
        </a>
      </div>
    </div>



  </ion-content>
</ion-view>
